<center> <img src = https://raw.githubusercontent.com/AndreyRysistov/DatasetsForPandas/main/hh%20label.jpg alt="drawing" style="width:400px;">

# <center> Проект: Анализ вакансий из HeadHunter

In [3]:
!pip install requests
!pip install psycopg2
import pandas as pd
import psycopg2
import requests

Requirement already satisfied: requests in c:\users\oleg2\appdata\local\programs\python\python311\lib\site-packages (2.31.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\oleg2\appdata\local\programs\python\python311\lib\site-packages (from requests) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\oleg2\appdata\local\programs\python\python311\lib\site-packages (from requests) (3.6)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\oleg2\appdata\local\programs\python\python311\lib\site-packages (from requests) (2.1.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\oleg2\appdata\local\programs\python\python311\lib\site-packages (from requests) (2023.11.17)
Requirement already satisfied: psycopg2 in c:\users\oleg2\appdata\local\programs\python\python311\lib\site-packages (2.9.9)

In [4]:
connection = psycopg2.connect(
    dbname='',
    user='',
    host='',
    password='',
    port=
)

# Юнит 3. Предварительный анализ данных

1. Напишите запрос, который посчитает количество вакансий в нашей базе (вакансии находятся в таблице vacancies).

In [5]:

query_3_1 = '''select count(id)
           from VACANCIES
                   '''

In [6]:
df = pd.read_sql_query(query_3_1, connection)
print(df)

C:\Users\oleg2\AppData\Local\Temp\ipykernel_19104\3051125570.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query_3_1, connection)

   count
0  49197

2. Напишите запрос, который посчитает количество работодателей (таблица employers).

In [7]:
query_3_2 = '''select count(id)
           from EMPLOYERS
                   '''

In [8]:
df = pd.read_sql_query(query_3_2, connection)
print(df)

   count
0  23501

C:\Users\oleg2\AppData\Local\Temp\ipykernel_19104\198591577.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query_3_2, connection)

3. Посчитате с помощью запроса количество регионов (таблица areas).

In [9]:
query_3_3 = '''select count(id)
           from AREAS
                   '''

In [10]:
df = pd.read_sql_query(query_3_3, connection)
print(df)

C:\Users\oleg2\AppData\Local\Temp\ipykernel_19104\2593644333.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query_3_3, connection)

   count
0   1362

4. Посчитате с помощью запроса количество сфер деятельности в базе (таблица industries).

In [11]:
query_3_1 = '''select count(id)
           from INDUSTRIES
                   '''

In [12]:
df = pd.read_sql_query(query_3_1, connection)
print(df)

C:\Users\oleg2\AppData\Local\Temp\ipykernel_19104\3051125570.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query_3_1, connection)

   count
0    294

***

In [13]:
HeadHunter has more then 20 000 employers working in almost 300 different industries on a wide territory.

SyntaxError: invalid syntax (2369977564.py, line 1)

# Юнит 4. Детальный анализ вакансий

1. Напишите запрос, который позволит узнать, сколько (cnt) вакансий в каждом регионе (area).
Отсортируйте по количеству вакансий в порядке убывания.

In [14]:
query_4_1 = '''select A.name,
count(V.id)
           from VACANCIES V join AREAS A on A.id=V.area_id
           group by A.name
           order by count(V.id) desc
           limit 5
                   '''

In [15]:
df = pd.read_sql_query(query_4_1, connection)
print(df)

              name  count
0           Москва   5333
1  Санкт-Петербург   2851
2            Минск   2112
3      Новосибирск   2006
4           Алматы   1892

C:\Users\oleg2\AppData\Local\Temp\ipykernel_19104\3065681533.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query_4_1, connection)

2. Напишите запрос, чтобы определить у какого количества вакансий заполнено хотя бы одно из двух полей с зарплатой.

In [16]:
query_4_2 = '''select count (id)
           from VACANCIES
          where salary_from is not null or salary_to is not null

                   '''

In [17]:
df = pd.read_sql_query(query_4_2, connection)
print(df)

   count
0  24073

C:\Users\oleg2\AppData\Local\Temp\ipykernel_19104\2394163103.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query_4_2, connection)

3. Найдите средние значения для нижней и верхней границы зарплатной вилки. Округлите значения до целого.

In [18]:
query_4_3 = '''select round(AVG(salary_from)) as average_from,
round(AVG(salary_to)) as average_to
           from VACANCIES
          '''

In [19]:
df = pd.read_sql_query(query_4_3, connection)
print(df)

   average_from  average_to
0       71065.0    110537.0

C:\Users\oleg2\AppData\Local\Temp\ipykernel_19104\261386216.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query_4_3, connection)

4. Напишите запрос, который выведет количество вакансий для каждого сочетания типа рабочего графика (schedule) и типа трудоустройства (employment), используемого в вакансиях. Результат отсортируйте по убыванию количества.

In [ ]:
query_4_4 = '''SELECT schedule, employment, COUNT(*) AS vacancy_count
FROM vacancies
GROUP BY schedule, employment
ORDER BY vacancy_count DESC;
          '''

In [ ]:
df = pd.read_sql_query(query_4_4, connection)
print(df)

<ipython-input-54-bfb4a5da304e>:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query_4_4, connection)

            schedule           employment  vacancy_count
0        Полный день     Полная занятость          35367
1   Удаленная работа     Полная занятость           7802
2      Гибкий график     Полная занятость           1593
3   Удаленная работа  Частичная занятость           1312
4     Сменный график     Полная занятость            940
5        Полный день           Стажировка            569
6     Вахтовый метод     Полная занятость            367
7        Полный день  Частичная занятость            347
8      Гибкий график  Частичная занятость            312
9        Полный день     Проектная работа            141
10  Удаленная работа     Проектная работа            133
11     Гибкий график           Стажировка            116
12    Сменный график  Частичная занятость            101
13  Удаленная работа           Стажировка             64
14     Гибкий график     Проектная работа             18
15    Сменный график           Стажировка             12
16    Вахтовый метод     Проектная работа              2
17    Сменный график     Проектная работа              1

5. Напишите запрос, выводящий значения поля Требуемый опыт работы (experience) в порядке возрастания количества вакансий, в которых указан данный вариант опыта.

In [ ]:
query_4_5 = '''SELECT experience
FROM vacancies
GROUP BY experience
ORDER BY count(id) asc;
          '''

In [ ]:
df = pd.read_sql_query(query_4_5, connection)
print(df)

           experience
0         Более 6 лет
1           Нет опыта
2       От 3 до 6 лет
3  От 1 года до 3 лет

<ipython-input-56-b760d97c85e1>:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query_4_5, connection)

***

In [ ]:
Majority of vacancies located in 5 bigger cities. Most of people looking for full time job on a salary range between  70000 to 110000. Finally, employees with less experience looking for a job on the site, probably due to younger age and still looking for a job to focus on and building professional network.

# Юнит 5. Анализ работодателей

1. Напишите запрос, который позволит узнать, какие работодатели находятся на первом и пятом месте по количеству вакансий.

In [ ]:
query_5_1 = '''select E.name,
count(V.id)
           from VACANCIES V join EMPLOYERS E on E.id=V.employer_id
           group by E.name
           order by count(V.id) desc
           limit 5
                   '''

In [ ]:
df = pd.read_sql_query(query_5_1, connection)
print(df)

<ipython-input-58-3e6b5d802b86>:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query_5_1, connection)

            name  count
0         Яндекс   1933
1     Ростелеком    491
2       Тинькофф    444
3           СБЕР    428
4  Газпром нефть    331

2. Напишите запрос, который для каждого региона выведет количество работодателей и вакансий в нём.
Среди регионов, в которых нет вакансий, найдите тот, в котором наибольшее количество работодателей.

In [ ]:
query_5_2 ='''select a.name,
       count(distinct e.id) cnt_emp,
       count(distinct v.id) cnt_vac
from areas a
     left join employers e on a.id = e.area
     left join vacancies v on v.area_id = a.id
where v.id is null
group by a.id
order by cnt_emp desc
                   '''

In [ ]:
df = pd.read_sql_query(query_5_2, connection)
print(df)

<ipython-input-60-b4a9f24a9f0c>:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query_5_2, connection)

                   name  cnt_emp  cnt_vac
0                Россия      410        0
1             Казахстан      207        0
2    Московская область       75        0
3    Краснодарский край       19        0
4    Ростовская область       18        0
..                  ...      ...      ...
588             Скидель        0        0
589          Белоозерск        0        0
590           Орловский        0        0
591          Павловская        0        0
592             Таксимо        0        0

[593 rows x 3 columns]

3. Для каждого работодателя посчитайте количество регионов, в которых он публикует свои вакансии. Отсортируйте результат по убыванию количества.

In [ ]:
query_5_3 ='''select e.name,
       count(distinct v.area_id)
      from employers e
          left join vacancies v on v.employer_id = e.id
group by  e.name
order by count(v.area_id) desc
                   '''

In [ ]:
df = pd.read_sql_query(query_5_3, connection)
print(df)

<ipython-input-62-192b89493538>:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query_5_3, connection)

                                                  name  count
0                                               Яндекс    181
1                                           Ростелеком    152
2                                             Тинькофф     43
3                                                 СБЕР     24
4                                        Газпром нефть     24
...                                                ...    ...
23170  Независимое агентство Аналитика товарных рынков      0
23171             Независимое Информационное Агентство      0
23172              Независимое телевидение Севастополя      0
23173                                    Независимость      0
23174                                             ICNX      0

[23175 rows x 2 columns]

4. Напишите запрос для подсчёта количества работодателей, у которых не указана сфера деятельности.

In [ ]:
query_5_4 ='''select count(*) cnt
from employers e
     left join employers_industries ei on e.id = ei.employer_id
where ei.industry_id is null

                   '''

In [ ]:
df = pd.read_sql_query(query_5_4, connection)
print(df)

    cnt
0  8419

<ipython-input-64-b65aa807e3e4>:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query_5_4, connection)

5. Напишите запрос, чтобы узнать название компании, находящейся на третьем месте в алфавитном списке (по названию) компаний, у которых указано четыре сферы деятельности.

In [ ]:
query_5_5 ='''SELECT
    e.name,
    COUNT(ei.industry_id) AS industry_count
FROM
    employers e
    LEFT JOIN employers_industries ei ON e.id = ei.employer_id
GROUP BY
    e.name
HAVING
    COUNT(ei.industry_id) = 4
ORDER BY
    e.name;

                   '''

In [ ]:
df = pd.read_sql_query(query_5_5, connection)
print(df)

<ipython-input-66-03fbe1f137dc>:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query_5_5, connection)

                 name  industry_count
0        101 Интернет               4
1            21vek.by               4
2                2ГИС               4
3                  2К               4
4         4 пикселя +               4
...               ...             ...
1131            ЮРИОН               4
1132  ЮТИП Технологии               4
1133           ЯКласс               4
1134            ЯрНео               4
1135    Яшин&Партнёры               4

[1136 rows x 2 columns]

6. С помощью запроса выясните, у какого количества работодателей в качестве сферы деятельности указана Разработка программного обеспечения.

In [ ]:
query_5_6 ='''SELECT
    i.name AS industry_name,
    COUNT(e.id) AS company_count
FROM
    industries i
    LEFT JOIN employers_industries ei ON i.id = ei.industry_id
    LEFT JOIN employers e ON ei.employer_id = e.id
WHERE
    i.name = 'Разработка программного обеспечения'
GROUP BY
    i.name
ORDER BY
    company_count DESC;

'''

In [ ]:
df = pd.read_sql_query(query_5_6, connection)
print(df)

                         industry_name  company_count
0  Разработка программного обеспечения           3553

<ipython-input-68-6ea6055239a6>:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query_5_6, connection)

7. Для компании «Яндекс» выведите список регионов-миллионников, в которых представлены вакансии компании, вместе с количеством вакансий в этих регионах. Также добавьте строку Total с общим количеством вакансий компании. Результат отсортируйте по возрастанию количества.

Список городов-милионников надо взять [отсюда](https://ru.wikipedia.org/wiki/%D0%93%D0%BE%D1%80%D0%BE%D0%B4%D0%B0-%D0%BC%D0%B8%D0%BB%D0%BB%D0%B8%D0%BE%D0%BD%D0%B5%D1%80%D1%8B_%D0%A0%D0%BE%D1%81%D1%81%D0%B8%D0%B8).

Если возникнут трудности с этим задание посмотрите материалы модуля  PYTHON-17. Как получать данные из веб-источников и API.

In [ ]:
import urllib.parse as req

path_common = req.urlparse('https://ru.wikipedia.org/wiki/Города-миллионеры_России#Список_городов-миллионеров')
url = path_common.scheme + '://' + req.quote(path_common.netloc) +  req.quote(path_common.path) + '#'+ req.quote(path_common.fragment)
cities = tuple(pd.read_html(url)[1]['Город'])

In [ ]:
query_5_7 =f'''
(SELECT a.name,
       count(*) cnt
FROM EMPLOYERS e
JOIN VACANCIES v on e.id = v.employer_id
JOIN AREAS a on a.id = v.area_id
WHERE e.name = 'Яндекс' and a.name in {cities}
GROUP BY a.id)

UNION ALL

(SELECT 'Total',
       count(*) cnt
FROM EMPLOYERS e
JOIN VACANCIES v on e.id = v.employer_id
JOIN AREAS a on a.id = v.area_id
WHERE e.name = 'Яндекс' and a.name in {cities})
'''

In [ ]:
df = pd.read_sql_query(query_5_7, connection)
print(df)

<ipython-input-70-32529ab7394d>:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query_5_7, connection)

               name  cnt
0             Total  485
1            Москва   54
2   Санкт-Петербург   42
3      Екатеринбург   39
4       Новосибирск   35
5         Волгоград   24
6           Воронеж   32
7         Краснодар   30
8        Красноярск   23
9   Нижний Новгород   36
10             Омск   21
11            Пермь   25
12   Ростов-на-Дону   25
13           Самара   26
14           Казань   25
15              Уфа   26
16        Челябинск   22

***

In [ ]:
Yandex has the most published vacancies, possibly due to it it having job opening on the bigger territory.

# Юнит 6. Предметный анализ

1. Сколько вакансий имеет отношение к данным?

Считаем, что вакансия имеет отношение к данным, если в её названии содержатся слова 'data' или 'данн'.

*Подсказка: Обратите внимание, что названия вакансий могут быть написаны в любом регистре.*

In [ ]:
query_6_1 ='''
SELECT
    'Total' AS vacancies_name,
    COUNT(id) AS vacancy_count
FROM
    vacancies
WHERE
    LOWER(name) LIKE '%data%' OR LOWER(name) LIKE '%данн%';

'''

In [ ]:
df = pd.read_sql_query(query_6_1, connection)
print(df)

<ipython-input-72-c5e86f39e085>:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query_6_1, connection)

  vacancies_name  vacancy_count
0          Total           1771

2. Сколько есть подходящих вакансий для начинающего дата-сайентиста?
Будем считать вакансиями для дата-сайентистов такие, в названии которых есть хотя бы одно из следующих сочетаний:
* 'data scientist'
* 'data science'
* 'исследователь данных'
* 'ML' (здесь не нужно брать вакансии по HTML)
* 'machine learning'
* 'машинн%обучен%'

** В следующих заданиях мы продолжим работать с вакансиями по этому условию.*

Считаем вакансиями для специалистов уровня Junior следующие:
* в названии есть слово 'junior' *или*
* требуемый опыт — Нет опыта *или*
* тип трудоустройства — Стажировка.

In [ ]:
query_6_2 ='''
SELECT
    'Total' AS vacancies_name,
    COUNT(id) AS vacancy_count
FROM
    vacancies
WHERE
    ((name ILIKE '%data scientist%') OR (name ILIKE '%data science%') OR (name ILIKE '%исследователь данных%')
    OR ((name ILIKE '%ML%')
    AND (name NOT ILIKE '%HTML%'))
    OR (name ILIKE '%machine learning%')
    OR (name ILIKE '%машинн%обучен%')
    AND (key_skills IS NOT NULL))

    AND (name ILIKE '%junior%'
    OR experience ILIKE '%Нет опыта%'
    OR employment ILIKE '%Стажировка%')

'''

In [ ]:
df = pd.read_sql_query(query_6_2, connection)
print(df)

<ipython-input-74-6b6aabfd0e94>:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query_6_2, connection)

  vacancies_name  vacancy_count
0          Total             51

3. Сколько есть вакансий для DS, в которых в качестве ключевого навыка указан SQL или postgres?

** Критерии для отнесения вакансии к DS указаны в предыдущем задании.*

In [ ]:
query_6_3 ='''
SELECT
    'Total' AS vacancies_name,
    COUNT(id) AS vacancy_count
FROM
    vacancies
WHERE
    ((name ILIKE '%data scientist%') OR (name ILIKE '%data science%') OR (name ILIKE '%исследователь данных%')
    OR ((name LIKE '%ML%')
    AND (name NOT ILIKE '%HTML%'))
    OR (name ILIKE '%machine learning%')
    OR (name ILIKE '%машинн%обучен%')
    AND (key_skills IS NOT NULL))

    AND (key_skills ILIKE '%SQL%'
    OR key_skills ILIKE '%postgres%')

'''

In [ ]:
df = pd.read_sql_query(query_6_3, connection)
print(df)

<ipython-input-76-1a4b70a16268>:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query_6_3, connection)

  vacancies_name  vacancy_count
0          Total            201

4. Проверьте, насколько популярен Python в требованиях работодателей к DS.Для этого вычислите количество вакансий, в которых в качестве ключевого навыка указан Python.

** Это можно сделать помощью запроса, аналогичного предыдущему.*

In [ ]:
query_6_4 ='''
SELECT
    'Total' AS vacancies_name,
    COUNT(id) AS vacancy_count
FROM
    vacancies
WHERE
    ((name ILIKE '%data scientist%') OR (name ILIKE '%data science%') OR (name ILIKE '%исследователь данных%')
    OR ((name LIKE '%ML%')
    AND (name NOT ILIKE '%HTML%'))
    OR (name ILIKE '%machine learning%')
    OR (name ILIKE '%машинн%обучен%')
    AND (key_skills IS NOT NULL))

    AND (key_skills ILIKE '%Python%')

'''

In [ ]:
df = pd.read_sql_query(query_3_1, connection)
print(df)

<ipython-input-105-8ff9a0533a9d>:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query_3_1, connection)

  vacancies_name  vacancy_count
0          Total            351

5. Сколько ключевых навыков в среднем указывают в вакансиях для DS?
Ответ округлите до двух знаков после точки-разделителя.

In [ ]:

query_6_5 ='''
SELECT
    'Total' AS vacancies_name,
    COUNT(id) AS vacancy_count,
    ROUND(AVG(length(key_skills) - length(replace(key_skills, CHR(9), ''))+1), 2) AS average_key_skills_length
FROM
    vacancies
WHERE
    (
        (name ILIKE '%data scientist%')
        OR (name ILIKE '%data science%')
        OR (name ILIKE '%исследователь данных%')
        OR ((name LIKE '%ML%') AND (name NOT ILIKE '%HTML%'))
        OR (name ILIKE '%machine learning%')
        OR (name ILIKE '%машинн%обучен%')
    )
    AND (key_skills IS NOT NULL);


'''

In [ ]:
df = pd.read_sql_query(query_6_5, connection)
print(df)

<ipython-input-79-67a105617d83>:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query_6_5, connection)

  vacancies_name  vacancy_count  average_key_skills_length
0          Total            431                       6.41

6. Напишите запрос, позволяющий вычислить, какую зарплату для DS в **среднем** указывают для каждого типа требуемого опыта (уникальное значение из поля *experience*).

При решении задачи примите во внимание следующее:
1. Рассматриваем только вакансии, у которых заполнено хотя бы одно из двух полей с зарплатой.
2. Если заполнены оба поля с зарплатой, то считаем зарплату по каждой вакансии как сумму двух полей, делённую на 2. Если заполнено только одно из полей, то его и считаем зарплатой по вакансии.
3. Если в расчётах участвует null, в результате он тоже даст null (посмотрите, что возвращает запрос select 1 + null). Чтобы избежать этой ситуацию, мы воспользуемся функцией [coalesce](https://postgrespro.ru/docs/postgresql/9.5/functions-conditional#functions-coalesce-nvl-ifnull), которая заменит null на значение, которое мы передадим. Например, посмотрите, что возвращает запрос `select 1 + coalesce(null, 0)`

Выясните, на какую зарплату в среднем может рассчитывать дата-сайентист с опытом работы от 3 до 6 лет. Результат округлите до целого числа.

In [ ]:
query_6_6 ='''SELECT
    experience,
    ROUND(AVG((COALESCE(salary_from,salary_to)+COALESCE(salary_to,salary_from))/2)) average
FROM
    vacancies
WHERE
     ( LOWER(name) LIKE '%data%scientist%'
       OR LOWER(name) LIKE '%data%science%'
       OR name LIKE '%ML%'
       OR LOWER(name) LIKE '%machine%learning%'
       OR LOWER(name) LIKE '%машинн%обучен%' )
AND
       LOWER(name) NOT LIKE '%html%'
AND
    (salary_from IS NOT NULL
OR
    salary_to IS NOT NULL)
GROUP BY
experience'''

In [ ]:
df = pd.read_sql_query(query_6_6, connection)
print(df)

<ipython-input-81-4c7f23c69e26>:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query_6_6, connection)

           experience   average
0           Нет опыта   74643.0
1  От 1 года до 3 лет  139675.0
2       От 3 до 6 лет  243115.0

***

In [ ]:
There is almosy 2000 vacancies for data science opened. Python is a more popular skill that companies looking for, however there is average 6 different skill is listed as required for a vacancy.

# Общий вывод по проекту

In [ ]:
Data science is a high demand industry with a lot of opportunities on the market. However there is high competition for starting position like junior specialist or interns meaning that it probably will be challenging to get into industry. In addition the salary can be doubled with only one year of experience nad significantly growing after 3 years.